# Empty rn, if ran locally on same I.P as augmentos_cloud we don't need to set any env variables.
# # If you are running this on a different machine, set the following env variables.

PORT= # e.g. 3000
AUGMENTOS_API_KEY= # e.g. API_KEY_1234567890
PACKAGE_NAME= # e.g. com.augmentos.twowaytranslation
CLOUD_HOST_NAME= # e.g. prod.augmentos.cloud | staging.augmentos.cloud
MONGO_URL= # e.g. mongodb+srv://<username>:<password>@....
NODE_ENV=production